#myDIV {
    border: 1px solid black;
    width: 400px;
    height: 100px;
    animation:me 2s linear 3s infinite normal;
  }
  

@keyframes me{
    from {
    font-size: 20px;
  }
  to {
    font-size: 40px;
  }
}

i{
    font-size: 30px;
}