#div1{
    height: 100px;
    width: 100px;
    background-image: url(bird.jpg);
    background-size: cover;
    position: fixed;
    right:0px;
    top:100px;
}
#div2{
    height: 100px;
    width: 100px;
    background-image: url("https://www.avalankids.com.au/assets/alt_1/GJK13.jpg?20201023133841");
    background-size: cover;
    position: fixed;
    left:0px;
    top:300px;
}